
node_modules
.env
node_modules/
dist/
build/
.env

# Hardhat 
smartcontract/.env
smartcontract/node_modules/
smartcontract/cache
smartcontract/artifacts

# TypeChain files
smartcontract/typechain
smartcontract/typechain-types

# solidity-coverage files
smartcontract/coverage
smartcontract/coverage.json

# Hardhat Ignition default folder for deployments against a local node
smartcontract/ignition/deployments/chain-31337
